.postTableControls {
    margin-bottom: 15px;
}
.NewPost {
    float: right;
    margin-right: 10px;
    background-color: darkslateblue;
    color: white;
}
.Zonas {
    float: right;
    margin-right: 0;
}
.Button {
    padding: 0.8em;
    border-radius: 4px;
    font-size: 19px;
}
.Papelera {
    margin-right: 10px;
}

.postDate {
    font-size: 13px;
    padding: 0.8rem;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #8d96a0;
    display: inline-flex;
    margin-right: 10px;
}

.postDate input {
    border: 0;
}
.postDate .rdtCounter .rdtCount {
    font-size: 1.5em;
}