.MediaItem {
    float: left;
    width: 10%;
    padding: 8px;
    cursor: pointer;
}
.Thumbnail {
    width: 100px;
    height: 100px;
}
.Thumbnail img {
    /*max-width: 100%;*/
    min-width: 100%;
    height: auto;
}