.CollapsedBox {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 1.2rem;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.CollapsedBox p {
    cursor: pointer;
    font-weight: bold;
    color: #000;
    margin-top: 0;
    position: relative;
}
.CollapsedBox img {
    max-width: 100%;
    margin-bottom: 1rem;
}
.CollapsedBox p::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 9px;
    width: 9px;
    transform: rotate(-45deg);
}
.hide p::after {
    transform: rotate(135deg);
    top: 6px;
}
.hide .children {
    display: none;
}